*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f3f3f3;
}

header{
    background-color: rgb(226, 222, 215);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 4px #ccc;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0px 2px 4px #ccc;
}

.btn-primary{
    background-color: rgba(33, 79, 206, 0.87);
    color:white;
}

.btn-secondary{
    background-color: #ccc;
}

.tool-box{
    background-color: whitesmoke;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 4px #ccc;
    margin-bottom: 1rem;
    display: flex;
    gap: 0.4rem;
}

.priority{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.tool-box div:nth-of-type(5){
    display: flex;
    justify-content: center;
    align-items: center;

}

.task-board{
    display: flex;
    gap: 1rem;
    width: 60vw;
    margin: 1rem auto;
    flex-wrap: wrap;
}

.tasks{
    background-color: white;
    flex-basis: 300px;
    flex-grow: 1;
    min-height: 50vh;
    box-shadow: 0px 2px 4px #ccc;
}

.tasks h2{
    text-align: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #ccc;
    width: 80%;
    margin: 0px auto;
}

#add-task-modal{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(219, 215, 215, 0.5);
    width: 100%;
    height: 100%;
}

.task-modal-content{
    border: 2px solid black;
    width: 400px;
    margin: 10% auto;
    padding: 1rem;
    background-color: white;
}

.task{
    border: 1px solid #ccc;
    padding: 0.8rem;
    border-radius: 8px;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.task-pink{
    border-left: 10px solid pink;
}

.task-blue{
    border-left: 10px solid blue;
}

.task-green{
    border-left: 10px solid green;
}

.task-black{
    border-left: 10px solid black;
}

i.bi{
    cursor: pointer;
}

.selected-priority{
    border: 2px solid black;
}